.dashboard{
    margin-top: 5%;
}

.card-shaddow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.04);
}
.card-shaddow{
    transition: all ease-in 0.3s;
}
.drop-body{
    width: 80%;
}